
body { 
  width: 100vw;
  height: 100%;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: gray;
  overflow-x: hidden;
}


.wrap-container { 
  display: flex;
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
  align-items: center;
  margin-top: -1rem;
  z-index: 12;
}

nav .top { 
  display: flex;
  margin-top: 1.3rem;
}
nav .top .logo a h2 { 
  font-size: 1rem;
  margin-top: 12rem;
}

.danger { 
  color: #ff77b2;
}

nav .top .logo a h2 {
  margin-top: -40px;
  margin-left: 3.7rem;
}

nav .logo a { 
  text-decoration: none;
}

nav .logo img { 
  width: 3rem;
  margin-left: 0.5rem;
  margin-top: -0.9rem;
}

nav .close { 
  display: none;
}
/* END OF NAVBAR*/


main { 
  width: 90%;
  height: 80%;
  margin: 4rem;
}

main table { 
  background: gray;
  color: #fff;
  width: 100%;
  border-radius: 1px solid black;
  padding: 5px;
  text-align: center;
  box-shadow: 0 2rem 3rem black;
  transition: all 300ms ease;
}

main .recent-order table:hover { 
  box-shadow: none;
}

main table thead tr th { 
  position: relative;
  font-size: 1.2rem;
  height: 4.5rem;
  border-bottom: 1px solid var(--color-primary-variant);
  color: black;
  background: var(--color-info-light);
}

main table tbody td { 
  position: relative;
  font-size: 1.2rem;
  height: 4.5rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody td img { 
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 15%;
}

main table thead tr:first-child th {
  position: relative; 
  border: 4px solid purple;
  color: red;
}

main table tbody tr:last-child td {
  position: relative; 
  border: 4px solid purple;
}

main table tbody tr td {
  position: relative; 
  border: 2px solid cornsilk;
}

main table tbody tr td:first-child, 
main table tbody tr td:last-child
 {
  position: relative; 
  border: 2px solid purple;
}
 

@media screen and (max-width: 1200px) {
  main { 
    width: 80%;
    height: 70%;
    margin: 4rem;
  }
  
}