:root { 
  --clr-10: rgb(255, 255, 255);
  --clr-20: rgba(192, 208, 232, 0.62);
  --clr-30: rgba(173, 216, 230);
  --clr-40: rgba(22, 180, 208);
  --clr-30: rgba(0, 0, 0);

  --clr-fade-10: rgb(255, 255, 255);
  --clr-fade-20: rgba(0, 0, 0, 0.29);
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181a1e;
  color: #fff;
  width: 900px;
}

.wrap-container { 
  display: flex;
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
  align-items: center;
  margin-top: -1rem;
  z-index: 12;
}

nav .top { 
  display: flex;
  margin-top: 1.3rem;
}
nav .top .logo a h2 { 
  font-size: 1rem;
  margin-top: 12rem;
}

.danger { 
  color: #ff77b2;
}

nav .top .logo a h2 {
  margin-top: -34px;
  margin-left: 3.7rem;
}

nav .logo a { 
  text-decoration: none;
}

nav .logo img { 
  width: 3rem;
  margin-left: 0.5rem;
  margin-top: -0.9rem;
}

nav .close { 
  display: none;
}
/* END OF NAVBAR*/

.form-container { 
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60%;
  width: 850px;
  height: 600px;
  border-radius: 5px;
  overflow: hidden;
  bottom: -35rem;
}

.form-info { 
  width: 90%;
  height: 100vh;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.6rem;
  width: 45rem;
  font-size: 1.3rem;
  outline: none;
}


label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0.6rem;
  width: 45rem;
  font-size: 1.3rem;
  outline: none;
}

input[type="submit"] { 
  width: 80%;
  height: 65px;
  padding: 6px 0;
 
  border-radius: 30px;
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 
  -10px -8px 6px -3px var(--clr-fade-10),
  3px 6px 8px 3px var(--clr-fade-20);
  text-indent: 0;
  transform: 0s;
}

input[type="submit"]:focus { 
  box-shadow: 
  -10px -8px 6px -3px var(--clr-fade-10),
  3px 6px 8px 3px var(--clr-fade-20);
  font-size: 1rem;
  transform: 0s;
}

.form-container .form-info a { 
  text-decoration: none;
}

input[type="submit"]:hover { 
  color: blue;
}


.footer_copyright { 
  position: absolute;
  text-align: center;
  margin-top: 45rem;
  padding: 1.2rem;
  border-top: 1px solid var(--color-bg2);
  width: 100%;
  margin-left: -40rem;
  color: #fff;
}

/********* MEDIA QUERY ***********/
@media all and (min-height: 1000px) { 
  body { 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 5em;
  }
}

@media all and (max-width: 700px) { 
  body { 
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
  }

  .form-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60%;
    width: 550px;
    height: 300px;
    border-radius: 3px;
    overflow: hidden;
    bottom: -25rem;
  }

  select {
    margin-top: 10px;
    padding: 0.6rem;
    width: 22rem;
    font-size: 1.3rem;
    margin-left: 12rem;
    outline: none;
  }

  input { 
    width: 22rem;
    padding: 0.6rem;
    font-size: 1.3rem;
    margin-left: 12rem;
  }

  input[type="submit"] { 
    width: 65%;
    height: 45px;
}

.wrap-container { 
  display: flex;
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
  align-items: center;
  margin-top: -3.3rem;
  z-index: 12;
}

.footer_copyright { 
  position: absolute;
  text-align: center;
  justify-content: center;
  margin-top: 35rem;
  padding: 1.2rem;
  width: 100%;
  margin-left: -17rem;
  
}


}